html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  width: 100%;
  height: 100%;
}

/* bar chart */
#somType > svg {  
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.axis {
  font-size: 13px;
}

.label {
  font-size: 13px;
}

