<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Leaflet css -->
    <link href="https://cdn.bootcss.com/leaflet/1.3.4/leaflet.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/leaflet.markercluster/1.0.5/MarkerCluster.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/leaflet.markercluster/1.0.5/MarkerCluster.Default.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- My css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/pcpstyle.css">
    <link rel="stylesheet" href="../static/css/clusterpies.css">
  </head>
  <body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand navbar-fixed-top navbar-dark bg-dark">
            <!-- <a class="navbar-brand py-0" href="#">Navbar</a> -->
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link py-0" href="#">POI VIS  <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div style="font-size: 14px;">
                <span class="navbar-text py-0 area">当前区域-市区</span>
                <span class="navbar-text py-0 type">当前类别-all</span>
            </div>
            <form class="form-inline ml-auto">
                <select class="custom-select custom-select-sm py-0">
                    <option value="shiqu" selected>市区</option>
                    <option value="baohe">包河区</option>
                    <option value="shushan">蜀山区</option>
                    <option value="yaohai">瑶海区</option>
                    <option value="luyang">庐阳区</option>
                </select>
            </form>
        </nav>
    </div>
    
    <div class="container-fluid" style="height: 95vh;">
        <div class="row maprow" style="height: 68%;">
            <div class="col-md-2 h-100 pr-0">
                <div class="card h-100">
                    <div class="card-body" id="chart">
                        <!-- Calendar -->
                    </div>
                </div>
            </div>
            <div class="col-md-7 pl-0 pr-0 h-100">
                <!--地图-->
                <div class="card h-100">
                    <div class="card-body" id="map">
                    </div>
                </div>
            </div>
            <div class="col-md-3 pl-0">
                <div class="card h-100">
                    <div class="card-body" id="somType">
                        <!-- bar chart -->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row pararow" style="height: 32%;">
            <div class="col-md-9 pr-0">
                <div class="card h-100">
                    <div class="card-body" id="parallel">
                        <!-- 平行坐标 -->
                    </div>
                </div>
            </div>

            <div class="col-md-3 pl-0">
                <div class="card h-100">
                    <div class="card-body" id="somColor">
                        <!-- som颜色 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <!-- leaflet -->
    <script src="https://cdn.bootcss.com/leaflet/1.3.4/leaflet.js"></script>
    <script src="https://cdn.bootcss.com/leaflet.markercluster/1.0.5/leaflet.markercluster.js"></script>
    <script src="../static/lib/proj4-compressed.js"></script>
    <script src="../static/lib/proj4leaflet.js"></script>
    <script src="../static/lib/tileLayer.baidu.js"></script>
    <script src="../static/lib/Leaflet-heat/dist/leaflet-heat.js"></script>
    <script src="../static/lib/geojson.js/geojson.min.js"></script>
    <!-- my function -->
    <script src="../static/js/bmap2.js"></script>
    <script src="../static/js/xzqh.js"></script>
    <script src="../static/js/color.js"></script>
    <script src="../static/js/clearLayer.js"></script>
    <script src="../static/js/heatmap.js"></script>
    <script src="../static/js/barChart.js"></script>
    <script src="../static/js/pcp.js"></script>
    <script src="../static/js/pieChartMap.js"></script>
    <script src="../static/js/interaction.js"></script>
    <script src="../static/js/update.js"></script>
    <script src="../static/js/calendar.js"></script>
    
    <script>
        window.clusterdataPath = '/static/clusterdata/';
        window.geojsondataPath = '/static/geojsondata/';
        window.cur_area = "shiqu";
        window.cur_type = "all";

        window.colorlist = getcolormat();
        //热力图
        window.heat = null;
        //som聚类散点图层
        window.clusterGroup = null;
        //选择的som类别点
        window.markerType = null;
        //缓存数据(不用每次重复请求)
        window.clusterdata = [];

        poilist = ['休闲娱乐', '教育培训', '金融', '医疗', '美食', '购物'];
        //poi legend
        poilegend = L.control({position: 'bottomright'});
        
        //开始
        updateView();
    </script>   
  </body>
</html>